<% if logged_in? && current_user.admin? %>
  <%= link_to "Sync all recipes", sync_recipes_path, method: "post" %>
  <%= link_to "logout", logout_path, method: "post" %>
<% end %>

<div class="recipes-list">
  <ul>
    <% @recipes.each do |recipe| %>
      <li class="recipe-item">
        <%= link_to recipe_path(recipe) do %>
        <div>
          <%= image_tag recipe.photo_url, class: "recipes-list-image" %>
        </div>
        <div>
          <h4><%= recipe.name %></h4>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>