<%= link_to "Back to all recipes", recipes_path %>
<h1><%= @recipe.name %></h1>
<p><%= @recipe.rating %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.directions %></p>
<p><%= @recipe.photo_url %></p>
<p><%= @recipe.created %></p>
<p><%= @recipe.uid %></p>
