<% content_for :header do %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to recipes_path, class: "link-icon header-button btn btn-sm" do %>
        <%= octicon "arrow-left" %>
        <p>Back</p>
      <% end %>
    </li>
   <li class="nav-item">
     <%= render 'shared/email_recipe' %>
    </li>
  </ul>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="recipe-heading container-fluid">
      <div class="row  p-2">
        <div class="p-0">
          <%= image_tag @recipe.photo_url, class: "recipe-img" %>
        </div>
        <div class="col">
          <h4 class="mt-2"><%= @recipe.name %></h4>
          <p class="font-italic small-font"><%= @categories %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 ingredients pt-3">
      <h5>Ingredients</h5>
      <%= format_ingredients @recipe.ingredients %>
    </div>
    <div class="col-lg-7 directions pt-3">
      <h5>Directions</h5>
      <%= simple_format @recipe.directions %>
    </div>
  </div>
</div>