<% content_for :header do %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to previous_path, class: "link-icon header-button btn btn-sm" do %>
        <%= octicon "arrow-left" %>
        <p>Back</p>
      <% end %>
    </li>
   <li class="nav-item">
     <%= render 'shared/email_recipe' %>
    </li>
  </ul>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="recipe-heading container-fluid">
      <div class="row  p-2">
        <div class="p-0">
          <%= image_tag @recipe.photo_url, class: "recipe-img" %>
        </div>
        <div class="col">
          <h4 class="mt-2"><%= @recipe.name %></h4>
          <p class="small-font"><em><%= @categories %></em></p>
          <% if @recipe.source %>
            <p class="small-font"><em>From</em>
              <%= link_to @recipe.source, "http://#{@recipe.source}" %>
            </p>
          <% end %>
          <% if logged_in? %>
            <%= render 'favorites/favorite_links', recipe: @recipe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 ingredients pt-3">
      <h5>Ingredients</h5>
      <%= format_ingredients @recipe.ingredients %>
    </div>
    <div class="col-lg-7 directions pt-3">
      <h5>Directions</h5>
      <%= simple_format @recipe.directions %>
    </div>
  </div>

  <div class="row" data-controller="comments">
    <div class="col pt-3 pb-5">
      <h5 class="pb-4">Comments (<%= @recipe.comments.count %>)
        <% if logged_in? %>
          <%= link_to "►", recipe_comments_path(@recipe.id), class: "comment-arrow", remote: true, data: { type: "html", target: "comments.arrow", action: "ajax:before->comments#handleLink ajax:success->comments#render" } %>
        <% end %>
      </h5>
      <% if logged_in? %>
        <div class="comments" data-target="comments.el"></div>
        <%= render 'comments/new', recipe: @recipe, comment: @comment %>
      <% else %>
        <p>Please <%= link_to "login", login_path %> to view comments</p>
      <% end %>
    </div>
  </div>
</div>