<%= link_to recipes_path, class: "link-icon" do %>
  <%= octicon "note", height: 22 %>
  <p>Recipes <span class="badge"><%= Recipe.count %></span></p>
<% end %>
<%= link_to categories_path, class: "link-icon" do %>
  <%= octicon "tag", height: 22 %>
  <p>Categories <span class="badge"><%= Category.count %></span></p>
<% end %>
<% if logged_in? && current_user.admin? %>
  <div class="admin-control mt-2">
    <%= link_to logout_path, method: "post", class: "link-icon" do %>
      <%= octicon "sign-out", height: 22 %>
      <p>Logout</p>
      <% end %>
  </div>
<% end %>