<div class="rating">
   <%= render "ratings/star", type: "star-full" %><!--
--><%= render "ratings/star", type: "star-full" %><!--
--><%= render "ratings/star", type: "star-full" %><!--
--><%= render "ratings/star", type: "star-full" %><!--
--><%= render "ratings/star", type: "star-full" %>
</div>