<div class="rating rating-stars-<%= rating_class %>" id="average-rating">
   <%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %>
</div>