<div class="rating <%= rating_class %>">
   <%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %>
</div>