<div class="rating rating-stars-<%= rating_class %>" id="<%= id %>">
   <%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %><!--
--><%= render "ratings/star" %>
</div>