<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 p-0">
      <% if logged_in? && current_user.admin? %>
        <%= link_to sync_recipes_path, method: "post", class: "link-icon" do %>
          <%= octicon "sync", height: 24 %>
          <p>Sync</p>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-10 p-0">
      <% if params[:controller] == "recipes" %>
        <% if params[:action] == "show" %>
          <ul class="nav">
            <li class="nav-item">
              <%= link_to recipes_path, class: "link-icon header-button btn btn-sm" do %>
                <%= octicon "arrow-left" %>
                <p>Back</p>
              <% end %>
            </li>
             <li class="nav-item">
              <button type="button" class="btn btn-sm link-icon header-button" data-toggle="modal" data-target="#exampleModal">
                <%= octicon "mail" %>
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Email this Recipe</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <%= form_tag recipe_send_email_path(@recipe.id), remote: true do  %>
                        <div class="form-group">
                          <%= label_tag :email %>
                          <%= email_field_tag :email, nil, class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn btn-secondary" id="email-close-button" data-dismiss="modal">Close</button>
                          <%= submit_tag 'Send', class: "btn btn-secondary" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        <% elsif params[:action] == "index" %>
          <ul class="nav">
            <li class="nav-item">
              <div class="input-group input-group-sm recipe-search">
                <%= octicon "search" %>
                <input type="text" placeholder="Search by Name" id="search-bar" class="form-control">
              </div>
            </li>
            <li class="recipe-sort nav-item">
              <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle sort-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= octicon "list-unordered" %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-header">Sort By</h6>
                  <%= link_to "Name", recipes_path, class: "dropdown-item" %>
                  <%= link_to "Most Recent", recipes_path(sort_by: "created"), class: "dropdown-item" %>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


