<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 p-0">
      <% if logged_in? && current_user.admin? %>
        <%= link_to sync_recipes_path, method: "post", class: "link-icon" do %>
          <%= octicon "sync", height: 24 %>
          <p>Sync</p>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-10 p-0">
      <% if params[:controller] == "recipes" %>
        <% if params[:action] == "show" %>
          <%= link_to recipes_path, class: "link-icon" do %>
          <%= octicon "arrow-left", height: 24 %>
          <p>Back</p>
        <% end %>
        <% elsif params[:action] == "index" %>
          <div class="recipe-search">
            <%= octicon "search" %>
            <input type="text" placeholder="Search by name" class="search-bar">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


