<!DOCTYPE html>
<html>
  <head>
    <title>Paprika</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="header">
      <%= render 'shared/header' %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 menu py-2 px-0">
          <%= render 'shared/menu' %>

        </div>
        <div class="col-lg-10 content p-0">
          <%= render 'shared/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
